<h1> Bot Statistics </h1>
<h1> Всего новостей от бота: <%= @entries.total_count %> </h1>
<div style='margin: 15px; color:red;'>
  <%= link_to 'ОЧИСТИТЬ НОВОСТИ ОТ БОТА', clear_admin_bot_index_path, :id => :clear_news, :remote => true, :method => :post,
        :confirm => 'are you sure?' %>

  <%= link_to 'bot zassal', undefined_admin_bot_index_path %>

</div>

<% @entries.each do |entry| %>

  <div class='bot-entry' id='entry-<%= entry.id %>'>
    <% offer = Offer.find entry.offer_id %>
    <% if entry.category_id && offer.category %>
      <table>
        <tr>
            <td class='title'><%= offer.title %></td><td class='match'><%= entry.match %> <span style='color: black; font-weight: normal'>(<%= entry.found_in %>)</span></td><td class='category'><%= offer.category.name %></td>
        </tr>
      </table>
      <span class='cancel'>
        ОТМЕНИТЬ
      </span>
    <% end %>
  </div>

<% end %>

<%= paginate @entries %>
