<% content_for :head do %>
  <%= stylesheet_link_tag 'admin/bot' %>
  <%= javascript_include_tag 'admin/bot' %>
<% end %>

<h1> Кракатор справился со стольким кол-вом купонов: <%= @entries.total_count %> </h1>
<div style='margin: 15px; color:red; font-size: 12px'>
  <%= link_to 'ОЧИСТИТЬ НОВОСТИ ОТ БОТА', clear_admin_bot_index_path, :id => :clear_news, :remote => true, :method => :post,
        :confirm => 'are you sure?' %>
</div>

<div id='bot-categories'>
  <ul>
  <% Category.where('parent_category_id IS NOT NULL').each do |category| %>
    <li><%= link_to category.name, admin_bot_index_path(category: category.id) %></li>
  <% end %>
  </ul>
</div>

<div id='offers'>

  <div id="main-description">
    <h1>Все купоны на скидку в Вашем городе</h1>
    <a>Какое добро мы можем Вам причинить?</a>
    <p>Купонавт (по аналогии со словом "космонавт") - это агрегатор купонов на скидку (? - про купоны).
    Это значит, что на данном сайте мы собираем актуальные скидочные купоны со всех сайтов коллективных покупок (таких как Groupon, Biglion, WeClever и ещё 112 представителей).</p>
  </div>


  <div id='all-offers'>
    <div id='offers-section'>
      <% @entries.each do |entry| %>
        <% offer = Offer.where(:id => entry.offer_id).first %>
        <% if entry.category_id && offer && offer.category %>
          <%= render :partial => 'offer', :locals => { offer: offer, entry: entry } %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='center-aligned'>
    <%= paginate @entries %>
  </div>

</div>
