<div id="filter">

  <p style="margin-top: 15px">

  <%= link_to nil, :class => 'all-categories-links', :id => 'all-offers-check' do %>
    <span> <%= t('offers.all_offers') %> </span>
  <% end %>
  <%= link_to nil, :class => 'all-categories-links', :id => 'all-offers-clear' do %>
    <span> <%= t('offers.clear_filter') %> </span>
  <% end %>

  </p>

  <div id="all-categories">

    <% groups = { special: Category.where(special: true), parent: Category.parent_categories } %>
    <% groups.keys.each do |group| %>
      <% groups[group].each do |parent_category| %>
        <% count = parent_category.nested_categories_offers(@city.id).count %>

        <% if count > 0 %>
          <% if group == :special && groups[group].index(parent_category) == 0 %>
            <p class='type first-category'> <span class='<%= group == :special ? "all-tags red" : "all-tags" %>'><%= parent_category.name %></span>
            </p>
          <% else %>
            <p class='type'> <span class='all-tags'><%= parent_category.name %></span>
            </p>
          <% end %>

          <ul class='<%= parent_category.to_en %>'>
            <% parent_category.nested_categories.each do |nested_category| %>
              <% count = nested_category.city_offers(@city.id).count %>
              <% if count > 0 %>
                <li>
                <label> <%= check_box_tag nested_category.id, nested_category.id, false,
                  :name => nested_category.to_en %><span class='sub-category-text'><%= nested_category.name %></span>
                </label>
                <span class='amount' title="<%= t('offers.this_only') %>"><%= count %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>

  </div>

  <div id='search'>
    <p> <%= t('offers.offers_search') %> </p>

    <%= form_tag search_offers_path(:city => @city), :method => :get, :remote => true, :id => 'search-form' do %>
      <%= text_field_tag :search, nil, :placeholder => t('offers.search_watermark') %>
      <span id='search-button'></span>
    <% end %>
  </div>


  <div style='width: 100px; margin:  0 auto'>
  <!--LiveInternet logo--><a href="http://www.liveinternet.ru/click"
    target="_blank"><img src="//counter.yadro.ru/logo?26.1"
    title="LiveInternet: показано число посетителей за сегодня"
    alt="" border="0" width="88" height="15"/></a><!--/LiveInternet-->
  </div>

</div>
