<% cache action_suffix: "offer_#{offer.id}" do %>
<div class='offer' id='offer-<%= offer.id %>' data-category='<%= offer.category_id %>'>
  <h2>
    <%= link_to offer.title, out_path(@city, offer), :class => 'offer-url', :target => '_blank', :rel => 'nofollow' %>
  </h2>

  <div class='offer-left-side'>
    <%= image_tag offer.image_url(:thumb), :class => 'offer-image' %>
    <div class="offer-image-bottom">
      <div class="subway"></div>
      <span class="subway-station">
        <%= offer.subway %>
      </span>
      <%= image_tag offer.provider.logo_url, :class => 'provider' %>
    </div>
  </div>

  <div class='offer-right-side'>
    <div class="info-container">
    <table>
      <tr>
        <td><%= t('offers.cost') %></td>
        <td><%= t('offers.discount') %></td>
        <td><%= t('offers.savings') %></td>
      </tr>
      <tr>
        <td class='offer-cost'> <%= offer.cost > 0 ? offer.cost : t('offers.unlimited').html_safe %> </td>
        <td class='offer-discount'> <%= offer.discount %>% </td>
        <td class='offer-savings'> <%= (offer.cost && offer.cost > 0) ? offer.cost/100 * offer.discount : t('offers.unlimited').html_safe %> </td>
      </tr>
    </table>

    <p class='info'> <%= t('offers.time_left') %>:
    </p>

    <% if offer.is_about_to_finish? %>
      <p class='time-left-red'> <%= offer.ends_at.to_js %> </p>
    <% else %>
      <p class='time-left'> <%= offer.finished?? 1.day.ago.to_date.to_js : offer.ends_at.to_js %> </p>
    <% end %>

    <br />

    <p class='info'>
    <%= t('offers.coupon_price') %>:
    </p>

    <p class='price'>
      <span class='offer-price'>
        <% if offer.price_starts_at %>
          <span class='starts-at'>
            <%= t('common.starts_at') %>
          </span>
          <%= offer.price_starts_at %>
        <% else %>
          <%= offer.price %>
        <% end %>
      </span>
      <span class='currency'> <%= offer.country.currency %> </span>
    </p>

    <div class='add-button' title="<%= t('offers.add_to_favourites') %>"></div>
    <%= link_to t('offers.buy'), out_path(@city, offer), :target => '_blank', :class => 'buy-button' %>

    </div>
  </div>

  <div class='offer-details'>
    <div class='offer-address'> <%= raw(offer.address) %> </div>
    <div class='offer-description'><div class='offer-description-roll-up'>свернуть</div> <div class='offer-description-overflow'> <%= raw(offer.description) %> </div> </div>
  </div>

  <div class='offer-bottom' title='<%= t('offers.details') %>'>
    <div class='offer-bottom-inner-border'> <%= image_tag 'down-arrow.png' %> </div>
  </div>

</div>
<% end %>
