<div class='offer' id='offer-id' data-category='offer-category'>
  <h2>
    <%= link_to nil, nil, :class => 'offer-url' %>
  </h2>

  <div class='offer-left-side'>
    <%= image_tag 'bg.png', :class => 'offer-image' %>
  </div>

  <div class='offer-right-side'>

    <table>
      <tr>
        <td><%= t('offers.cost') %></td>
        <td><%= t('offers.discount') %></td>
        <td><%= t('offers.savings') %></td>
      </tr>
      <tr>
        <td class='offer-cost'></td>
        <td class='offer-discount'></td>
        <td class='offer-savings'></td>
      </tr>
    </table>

    <p class='info'>
      <%= t('offers.time_left') %>:
    </p>
    <p class='time-left' style="text-align: center;"></p>
    <br />

    <p class='info'>
      <%= t('offers.coupon_price') %>:
    </p>
    <p class="price"> <span class='offer-price'></span> <span class='hrn'> <%= t('common.hrn') %> </span></p>

    <%= link_to t('offers.buy'), nil, :class => 'buy-button' %>


  </div>

    <%= link_to nil do %>
      <div class='offer-bottom' title='<%= t('offers.details') %>'> <center> <%= image_tag 'down-arrow.png' %> </center> </div>
    <% end %>

</div>
