<div class='offer' id='offer-<%= offer.id %>' data-category='<%= offer.category_id %>'>
  <h2>
    <%= link_to offer.title, offer.url, :class => 'offer-url' %>
  </h2>

  <div class='offer-left-side'>
    <%= image_tag offer.image_url, :class => 'offer-image' %>
    <div class="offer-image-bottom">
      <div class="subway"></div>
      <span class="subway-station">
        <%= offer.subway %>
      </span>
      <%= image_tag offer.provider.logo_url, :class => 'provider' %>
    </div>
  </div>

  <div class='offer-right-side'>

    <table>
      <tr>
        <td><%= t('offers.cost') %></td>
        <td><%= t('offers.discount') %></td>
        <td><%= t('offers.savings') %></td>
      </tr>
      <tr>
        <td class='offer-cost'> <%= offer.cost > 0 ? offer.cost : t('offers.unlimited') %> </td>
        <td class='offer-discount'> <%= offer.discount %>% </td>
        <td class='offer-savings'> <%= (offer.cost && offer.cost > 0) ? offer.cost/100 * offer.discount : t('offers.unlimited') %> </td>
      </tr>
    </table>

    <p class='info'>
    <%= t('offers.time_left') %>:
    </p>
    <p class='time-left' style="text-align: center;"> <%= offer.ends_at %> </p>
    <br />

    <p class='info'>
    <%= t('offers.coupon_price') %>:
    </p>

    <p class='price'>
      <span class='offer-price'>
        <%= offer.price_starts_at ? t('common.starts_at') : '' %> <%= offer.price %>
      </span>
      <span class='hrn'> <%= t('common.rub') %> </span>
    </p>

    <div class='add-button'></div>
    <%= link_to t('offers.buy'), nil, :class => 'buy-button' %>


  </div>

  <div class='offer-details'>
    <div class='offer-address'></div>
    <div class='offer-description'></div>
  </div>

  <div class='offer-bottom' title='<%= t('offers.details') %>'>
    <center> <%= image_tag 'down-arrow.png' %> </center>
  </div>

</div>
