<div id='offers'>

  <div id='sort'>
      <h2>
        Киев <span> <%= Time.now.to_date %> </span>
      </h2>

      <div>
        <%= t('offers.checked') %><span id='offers-selected-count'><%= @offers_selected_count %></span> <%= t('common.of') %> <%= @offers_total_count %>
        <span><%= t('offers.price') %> | <%= t('offers.discount') %> | <%= t('offers.time_left') %></span>
      </div>
  </div>

  <div id='all-offers' data-city='<%= @city.name %>' data-page='<%= params[:page] || false %>'>
    <%= render 'offers' %>
  </div>

  <center>
    <div id='pagination-bottom'>
      <%= render 'pagination' %>
    </div>
  </center>

</div>


<%= render 'filter' %>
