<div id='offers'>

  <div id='sort'>
    <div id='sort-buttons'>
      <ul class='sort-buttons'>
        <% [ 'freshness', 'price', 'discount', 'time_left' ].each do |sort_link| %><li><%= t("offers.#{sort_link}") %></li><% end %>
      </ul>
    </div>
  </div>

  <div id='all-offers' data-city='<%= @city.name %>' data-page='<%= params[:page] || false %>'>
    <%= render 'offers' %>
  </div>

  <center>
    <div id='pagination-bottom'>
      <%= render 'pagination' %>
    </div>
  </center>

</div>


<%= render 'filter' %>
<div class='hidden'>
  <%= render 'pagination_template' %>
</div>

