<div id='offers'>

  <div id='sort'>
    <div id='sort-buttons'>
      <ul class='sort-buttons'>
        <% [ 'freshness', 'price', 'discount', 'time_left' ].each do |sort_link| %><li id='<%= "sort-by-#{sort_link}" %>'><%= t("offers.#{sort_link}") %></li><% end %>
      </ul>
    </div>
  </div>

  <div id='all-offers' data-city='<%= @city.name %>' data-page='<%= params[:page] || false %>'>
    <div id='current-offers-count'>
      <%= t('offers.checked') %><span id='offers-selected-count'><%= @offers_selected_count %></span> <%= t('common.of') %> <%= @offers_total_count %>
    </div>

    <div id='offers-section'>
      <%= render 'offers' %>
    </div>
  </div>

  <center>
    <div id='pagination-bottom'>
      <%= render 'pagination' %>
    </div>
  </center>

</div>


<%= render 'filter' %>
<div class='hidden'>
  <%= render 'pagination_template' %>
</div>

