<div id='offers'>

  <div id='sort'>
      <h2>
        Киев <span> <%= Time.now.to_date %> </span>
      </h2>

      <p><%= t('offers.checked') %> 2 <%= t('common.of') %> 350
        <span><%= t('offers.price') %> | <%= t('offers.discount') %> | <%= t('offers.time_left') %></span>
      </p>
  </div>

  <div id='all-offers'>
    <%= render 'offers' %>
  </div>

  <center>
    <div id='pagination-bottom'>
      <%= render 'pagination' %>
    </div>
  </center>

</div>


<%= render 'filter' %>
