<div id='offers'>

  <div id='sort'>

    <div id="lenses">
        <ul>
          <% %w(all today yesterday).each do |lens| %> <li id='<%= lens %>-lens' class='<%= lens == 'all' ? 'pressed' : '' %>'> <%= t("offers.lenses.#{lens}") %> </li> <% end %>
		</ul>
	</div>

    <div id='current-offers-count'>
        <%= t('offers.checked') -%> <span id='offers-selected-count'><%= @offers_selected_count %></span> <%= t('common.of') -%> <%= @offers_total_count -%>
    </div>

    <div id="show-main-map-button">
      <img src="/assets/map-icon.png" width="35px">
      <span>Показать на карте</span
    ></div>

      <ul id='sort-buttons'>
        <%= notification( t('offers.no_categories_selected') ) %>
        <% [ 'category_id', 'created_at', 'price', 'discount', 'ends_at' ].each do |sort_link| %><li class='<%= (sort_link == 'category_id' || sort_link == 'ends_at') ? (sort_link == 'category_id' ? 'first-child' : 'last-child') : '' %>' id='<%= "sort-by-#{sort_link}" %>'><%= t("offers.#{sort_link}") %></li><% end %>
      </ul>
  </div>

  <div id='all-offers' data-city='<%= @city.name %>' data-page='<%= params[:page] || false %>'>


    <div id='offers-section'>
      <%= render 'offers' %>
    </div>
  </div>

  <div style="text-align: center;">
    <div id='pagination-bottom'>
      <%= render 'pagination' %>
    </div>
  </div>

</div>


<%= render 'filter' %>
<div class='hidden'>
  <%= render 'pagination_template' %>
</div>

<div class='hidden'>
  <%= render 'offer_template' %>
</div>
