<% content_for :head do %>
  <%= stylesheet_link_tag 'single_offer' %>
  <%= javascript_include_tag 'single_offer' %>
<% end %>

  <div id='offer-plus-arrows' style='width:960px'>

      <%= render partial: 'single_offer', locals: { offer: @offer } %>

  </div>


<div id='neighbors'>
	<%= { before: @before, after: @after }.to_json %>
</div>

<div id='offer-template' class='hidden'>
	<%= render 'offer_template' %>
</div>