<% content_for :head do %>
  <%= stylesheet_link_tag 'single_offer' %>
  <%= javascript_include_tag 'single_offer' %>
<% end %>

<h2> <%= @offer.title %> </h2>
<div id='all-offers'>
  <div id='offers'>
    <div id='offers-section'>
      <%= render partial: 'offer', locals: { offer: @offer } %>
    </div>
  </div>
</div>

<div id='neighbors'>
	<%= { before: @before, after: @after }.to_json %>
</div>

<div id='offer-template' class='hidden'>
	<%= render 'offer_template' %>
</div>