<% content_for :head do %>
  <%= javascript_include_tag 'admin/suspicious_offers' %>
  <%= stylesheet_link_tag 'admin/suspicious_offers' %>
<% end %>

<h1> HI <%= current_user.email %> </h1>

<%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>

<div id='suspicious-offers-navigation'>
  <%= link_to 'Not categorized', admin_suspicious_offers_path %>
</div>

<div id='all-offers'>

  <div id='offers'>
    <div id='all-offers'>

      <div id='current-offers-count'>
        <%= t('offers.checked') -%> <span id='offers-selected-count'><%= @offers.count %></span>
      </div>

      <div id='offers-section'>
        <%= render :partial => 'offers/offers' %>
      </div>

    </div>
  </div>

</div>

<div class='hidden'>
  <%= render :partial => 'admin/suspicious_offers/filter' %>
</div>
