<div id='header'>

  <div id='logo'>
    <%= link_to image_tag('logo.png', :id => 'kuponavt'), offers_path(city: session[:city] ? session[:city] : City.default) %>
    <%= image_tag 'help.png', :class => 'help', :id => 'site-description-help' %>
  </div>

  <div id='site-description' class='hidden'>
    <div style="position: relative"> <%= image_tag 'close.png', :class => 'close-popup' %> </div>
    <p>Мы собрали для вас купоны на скидку с сотен сайтов.</p>
    <p>Выберите свой город и получайте удовольствия с экономией ; )</p>
  </div>

  <% unless action_name == 'favourites' %>
    <div id="city">
      <span>Ваш город
        <span id="current-city"><%= @city ? t("cities.#{@city.name}") : '' %>
          <div id="all-cities">

            <div id="russia">
              <h3>Россия</h3>
              <% letter, expired = nil, true %>
              <% russian_cities.in_groups_of(20, false).each do |city_group| %>
                <ul>
                  <% city_group.each do |city| %>
                    <% if letter != t("cities.#{city.name}").first %>
                      <% letter, expired = t("cities.#{city.name}").first, false %>
                    <% else %>
                      <% expired = true %>
                    <% end %>
                    <li>
                      <% if city.capital? %>
                        <%= link_to t("cities.#{city.name}"), offers_path(city), :class => 'bold' %>
                      <% else %>
                        <%= link_to t("cities.#{city.name}"), offers_path(city), :class => "#{expired ? '' : 'first-letter' }" %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>

            <div id="ukraine">
              <h3>Украина</h3>
              <% letter, expired = nil, true %>
              <% ukrainian_cities.in_groups_of(5, false).each do |city_group| %>
                <ul>
                  <% city_group.each do |city| %>
                    <% if letter != t("cities.#{city.name}").first %>
                      <% letter, expired = t("cities.#{city.name}").first, false %>
                    <% else %>
                      <% expired = true %>
                    <% end %>
                    <li>
                    <% if city.capital? %>
                      <%= link_to t("cities.#{city.name}"), offers_path(city), :class => 'bold' %>
                    <% else %>
                      <%= link_to t("cities.#{city.name}"), offers_path(city), :class => "#{expired ? '' : 'first-letter' }" %>
                    <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>

          </div>
        </span>
      </span>
    </div>
  <% end %>

  <div id='selected-deals-link'>
    <%= link_to t('offers.selected_coupons'), favourites_offers_path %> <span id='favourites-count'>0</span>
  </div>

  <div id='settings' class='hidden'>
    <strong id='settings-button'><%= t('common.settings') %></strong>

    <div id='settings-container'>
      <h3><%= t('common.offers_per_page') %></h3>
      <div class='center-aligned offers-per-page'>
        по <% [25,50,100].each do |per_page| %> <span class='per_page'><%= per_page %></span> <% end %> <%= t('common.offers_per_page') %>
      </div>
    </div>
  </div>


</div>
