<div id='header'>

  <div id='logo'>
    <%= link_to image_tag('logo.png', :id => 'kuponavt'), root_path %>
    <%= image_tag 'help.png', :class => 'help', :id => 'site-description-help' %>
  </div>

  <div id='site-description' class='hidden'>
    <div style="position: relative"> <%= image_tag 'close.png', :class => 'close-popup' %> </div>
    <p>Мы собрали для вас купоны на скидку с сотен сайтов.</p>
    <p>Выберите свой город и получайте удовольствия с экономией ; )</p>
  </div>

  <% unless action_name == 'favourites' %>
    <div id="city">
      <span>Ваш город
        <span id="current-city"><%= @city ? t("cities.#{@city.name}") : '' %>
          <div id="all-cities">
            <div id="russia">
              <h3>Россия</h3>
              <ul>
                <% russian_cities.each do |city| %>
                  <li>
                    <%= link_to t("cities.#{city.name}"), city.name, :class => "#{city.capital?? 'bold' : ''}" %>
                  </li>
                <% end %>
              </ul>
            </div>


            <div id="ukraine">
              <h3>Украина</h3>
              <ul>
                <% ukrainian_cities.each do |city| %>
                  <li>
                    <%= link_to t("cities.#{city.name}"), city.name, :class => "#{city.capital?? 'bold' : ''}" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </span>
      </span>
    </div>
  <% end %>

  <div class='selected-deals-link'>
    <%= link_to t('offers.selected_coupons'), favourites_offers_path %>
  </div>

</div>
