<!DOCTYPE html>
<html>
<head>
  <title>Купонавт. Бороздим просторы купонов на скидку</title>
  <meta name="description" content="Ежедневно мы собираем для Вас купоны на скидку со всех скидочных сайтов. Благодаря чему Вы экономите крупные суммы денег"/>
  <meta name="keywords" content="скидки, купоны, купоны на скидку, скидки на карте, купоны со скидкой, скидочные купоны"/>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28502981-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body id='<%= params[:controller].parameterize %>-controller' data-action='<%= action_name %>'>

<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "//counter.yadro.ru/hit?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random();//--></script><!--/LiveInternet-->


  <%= render 'header' %>

  <div id='wrapper'>
    <%= yield %>
  </div>

<script type="text/javascript">
    var reformalOptions = {
        project_id: 53623,
        project_host: "kuponavt.reformal.ru",
        force_new_window: true,
        tab_alignment: "left",
        tab_top: "300",
        tab_bg_color: "#ba133a",
        tab_image_url: "http://tab.reformal.ru/0J7RiNC40LHQutC4PyDQodC%252B0L7QsdGJ0LjRgtC1LCDQv9C%252B0LbQsNC70YPQudGB0YLQsA==/FFFFFF/e9491884e175cba6e4a30e5f3033fc34"
    };

    (function() {
        if ('https:' == document.location.protocol) return;
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://media.reformal.ru/widgets/v1/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter11971228 = new Ya.Metrika({id:11971228, enableAll: true, webvisor:true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/11971228" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


</body>
</html>
