<!DOCTYPE html>
<html>
<head>
  <title>Kuponavt</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'cufon' %>
  <%= javascript_include_tag 'transponder' %>
  <%= javascript_include_tag 'countdown' %>
  <%= csrf_meta_tags %>
</head>
<body id='<%= params[:controller].parameterize %>-controller'>

  <%= render :partial => 'shared/header2' %>

  <div id='wrapper'>
    <%= yield %>
  </div>

</body>
</html>
